Source: hardn
Section: base
Maintainer: Matei Busui <matei@busui.ro>
Build-Depends: debhelper-compat (= 13), devscripts, git-buildpackage
Standards-Version: 4.6.0
Homepage: https://github.com/OpenSource-For-Freedom/HARDN
Rules-Requires-Root: no

Package: hardn
Section: base
Priority: optional
Architecture: all
Depends: python3, python3-pyqt6, ufw, fail2ban, apparmor, firejail, rkhunter, chkrootkit, maldet, aide, auditd, lynis, libgtk-3-dev, libwebkit2gtk-4.0-dev, libssl-dev, fonts-liberation, gawk, wget, curl, git
Description: Collection of scripts for security hardening operating systems