# Core system libraries
pexpect

# GUI 
tkinter
pyttk

# SEC/MONITOR
lynis
fail2ban
ufw
apparmor
firejail
debsums
tcpd

# PKG MANAGER/ TOOLS
requests
setuptools

# Docker
docker

# run "pip freeze > requirements.txt" to ensure all are listed.